@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.About-container{
    margin: 0 auto;
}

.About-title {
    font-family: 'Helvetica Neue';
    font-weight: 100;
    font-size: 70px;
    text-align: start;
    text-transform: uppercase;
    color: white;
    width: 500px;
    height: 70px;
    margin-top: 100px;
    margin-left: 110px;
    margin-bottom: 0;
}

.About-subtitle {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 250px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5px;
    width: 250px;
    letter-spacing: 2px;
}

#DestinyJ2 {
    width: 500px;
    margin-left: 35%;
    padding-right: 60px;
    margin-top: 0;
    height: 400px;
}

.Resume {
    text-decoration: none;
    font-family: 'Helvetica Neue';
    font-weight: 100;
    font-size: 30px;
    text-transform: uppercase;
    width: 170px;
    text-align: center;
    color: white;
    position: absolute;
    border: 1px solid  #550584;
    border-radius: 5px;
    z-index: 3;
    right: 120px;
    top: 100px;
}

.Resume:hover {
    background-color: #550584;
}

@media only screen and (max-width: 1300px){
    #DestinyJ2 {
        width: 490px;
        padding-right: 0px;
    }

    .About-title{
        margin-left: 160px;
    }

    .Resume {
        right: 50px;   
    }
}
   
@media only screen and (max-width: 1100px){
    #DestinyJ2 {
        margin-top: -40px;
        margin-left: 30%;
        height: 393px;
    }

    .About-title{
        margin-top: 5px;
        margin-left: 140px;
    }
    .About-subtitle{
        margin-top: 0;
    }

    .Resume {
        top: 320px; 
        right: 20%;  
    }
}


@media only screen and (max-width: 800px){
    #DestinyJ2 {
        margin-top: -50px;
    }

}
